.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 30px;
}

.App form {
  margin-right: 20px;
  flex: 1;
}

.App main {
  flex: 2;
}

.contact-form {
  border-radius: 4px;
  background: #1f1f1f;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.contact-form label input {
  margin-top: 5px;
  padding: 5px;
  height: 30px;
  font-size: small;
  color: #666;
  border: 0;
  border-bottom: 2px solid #8a2be2;
}

.contact-form button {
  margin-top: 10px;
  background-color: #8a2be2;
  align-self: center;
  border: 0;
  width: 100%;
  height: 40px;
  font-size: medium;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #7325bd;
  cursor: pointer;
}
